.App {
  text-align: center;
  margin:0;
  padding:0;
  wdith:100%;

}

.card {
  margin:auto;
  padding:10px;
  position: relative;
}

#result {
  margin:auto;
  padding: 5%;
  display:inline-flex;
  flex-direction: row;
  width: 100%;
}

.img-card {
  width: 300px;
  height: 400px;
}
